:root {
  --color-brand: #4d5ae5;
  --color-activ: #404bbf;
  --color-border: #e7e9fc;
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

/*------ header -----------*/

.header-logo {
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.logo-word {
  color: var(--color-brand);
}

.list-nav a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.list-nav a:hover,
.list-nav a:focus {
  color: var(--color-activ);
}

.list-contact a {
  color: var(--secondary-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.list-contact a:hover,
.list-contact a:focus {
  color: var(--color-activ);
}

.page-header {
  border-bottom: 1px solid var(--color-border);
}

/*------ main studio ----------*/

.main-list h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
.main-list h3 {
  
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/*------Section 1 hero -----------*/

.hero {
  background-color: var(--main-color);
  text-align: center;
}

.hero-title {
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  color: var(--main-background-color);
  background-color: var(--color-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-activ);
}

/*------Section 2 features -----------*/

.features-text{
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
}

/*------Section 3 What are we doing -----------*/



/*------Section 4 team -----------*/

.team-content{
  background-color: var(--secondary-background-color);
}

.team-list p{
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5;
}

/* section team
border-bottom: 1px solid #E7E9FC;

/*------portfolio -----------*/

.portfolio-filter button{
background-color: var(--secondary-background-color);
border: 1px solid var(--color-border);
border-radius: 4px;
color: var(--color-brand);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}

.portfolio-filter button:hover,
.portfolio-filter button:focus{
  color: var(--main-background-color);
  background-color: var(--color-activ);
  cursor: pointer;
}

.portfolio-card li{
  border: 1px solid var(--color-border);
}

.portfolio-card h2{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.portfolio-card p{
font-size: 16px;
line-height: 1.5;
}

/* ------------------------------------------------------------------------------------ */

/*  portfolio card 


h2
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;

text
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
*/

/*------ footer -----------*/

.footer-content {
  background-color: var(--main-color);
}
.footer-logo {
  color: var(--secondary-background-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 17;
}

.footer-text {
  color: var(--secondary-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
